*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/*header*/
body{
    background-color: rgb(28, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

header .logo{
    width: 150px;
}

header .logo img{
    width: 100%;
}

header nav a{
    padding-right: 20px;
    color: rgb(158, 154, 154);
}

header nav a:hover{
    color: white;
}
/*filme principal*/

.carousel-main{
    font-size: 16px;
    color: white; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background-size: cover;
    width: 100%;
    height: 500px;

}

.carousel-filmes-main{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.filme-principal-1{
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) ,url(../img/capa-house.jpg) ;
}

.filme-principal-2{
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) ,url(../img/capa-a-teoria-de-tudo.jpg) ;
}

.filme-principal-3{
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) ,url(../img/capa-passageiros.jpg ) ;
}

.carousel-main .container{
    width: 70%;
}

.carousel-main .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.carousel-main .titulo-info {
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao  {
    background-color: rgba(0, 0, 0, 0.604) ;
    border: none;
    color: rgb(255, 255, 255);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 50px;
    margin-right: 30px;
}

/*carrosel-mini*/

.minha-lista{
    display: flex;
    align-items: center;
    color: white;
    margin: 20px 0 0 50px;
}
.minha-lista i{
    margin-left: 5px;
    
}


.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}    

.box-filme{
    width: 100%;
    display: block;
    cursor: pointer;
    transition: 1000 ease-in-out ;
}
  
.box-filme:hover{
    opacity: 80%;
}

.carousel-filmes{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center; 
    margin-top:10px;
}

.carousel__item{
    padding-right: 20px;
}

.carousel__item--hidden {
    display: none;
}

.carousel .carousel__item--visible,
.carousel-filmes-main .carousel__item--visible { 
    animation: fadeVisibility 0.5s;
}

.carousel .carousel__item--visible{
    display: block;
}
  
/*botoes*/
  
.carousel__actions{
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0px;
}
  
.carousel__actions button {
    border-radius: 50px;
    border: 1px rgba(0, 0, 0, 0.562) solid;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
  
button#carousel__button--prev,
button#carousel-main__button--prev {
    margin-left: 1px;
    position: absolute;
    left: 0px;
}
  
button#carousel__button--next,
button#carousel-main__button--next {
    margin-right: 1px;
    position: absolute;
    right: 0px;
}

.carousel__button--hidden{
    display: none;
}
 
@keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
}
 